

<div class="logo-container bp-title-1"> Te estas portando mal seras castigada </div>

<div class="bp-container">
  <h2 class="bp-title-2">
    LA HISTORIA DE TODO
  </h2>
  <div class="bp-text-1">
    <p>Sí quiero, amarte y cuidarte el resto de mi vida.</p>
    <p>Sí quiero, que podamos juntos lograr nuestras metas.</p>
    <p>Sí quiero, que podamos crecer juntos y poder ser uno.</p>
    <p>Nuestro amor florece cada día en nosotros y madura cada dia mas. Muchas veces caótico, pero siempre maravilloso.</p>
    <p>Encontramos muchas dificultades y piedras en este camino, pero hoy podemos decir que estamos mas que preparados para superarlos juntos y seguir en nuestro camino codo a codo.</p>
    <p>Simplemente decir que nuestra vida&nbsp; hoy se encuentra completa, y estamos listos para compartir el resto de nuestra vidas juntos ♥</p>
  </div>
  <section class="carrousel bp-margin-top-16">
    <img src="assets/michimichi.jpg">
    <img src="assets/michinegro.webp">
    <img src="assets/MICHIPARADO.jpg">
    <img src="assets/michipatitas.webp">
    <img src="assets/michioculto.webp">
  </section>
</div>

<div class="bp-container maps-container">
  <img src="assets/maps.png">
</div>