<div class="bp-container maps-container bp-container-dark logo-container">
  <h1 class="bp-title-1">Rodri y Ani</h1>
  <p class="bp-text-1">C casan</p>
  <app-count-down></app-count-down>
</div>

<div class="bp-container">
  <h2 class="bp-title-1">LA HISTORIA DE TODO</h2>
  <div>
    <p class="bp-text-1">Sí quiero, amarte y cuidarte el resto de mi vida.</p>
    <p class="bp-text-1">
      Sí quiero, que podamos juntos lograr nuestras metas.
    </p>
    <p class="bp-text-1">
      Sí quiero, que podamos crecer juntos y poder ser uno.
    </p>
    <p class="bp-text-1">
      Nuestro amor florece cada día en nosotros y madura cada dia mas. Muchas
      veces caótico, pero siempre maravilloso.
    </p>
    <p class="bp-text-1">
      Encontramos muchas dificultades y piedras en este camino, pero hoy podemos
      decir que estamos mas que preparados para superarlos juntos y seguir en
      nuestro camino codo a codo.
    </p>
    <p class="bp-text-1">
      Simplemente decir que nuestra vida&nbsp; hoy se encuentra completa, y
      estamos listos para compartir el resto de nuestra vidas juntos ♥
    </p>
  </div>
  <section class="carrousel bp-margin-top-16">
    <img src="assets/michimichi.jpg" />
    <img src="assets/michinegro.webp" />
    <img src="assets/MICHIPARADO.jpg" />
    <img src="assets/michipatitas.webp" />
    <img src="assets/michioculto.webp" />
  </section>
</div>

<div class="bp-container">
  <h1 class="bp-title-1">SAVE THE DATE</h1>
  <app-calendar></app-calendar>
</div>
<div class="bp-container maps-container bp-container-dark">
  <h2 class="bp-title-1">
    <span class="material-symbols-outlined"> location_on </span>Ubicación
  </h2>
  <div class="mapouter">
    <div class="gmap_canvas">
      <iframe
        class="gmap_iframe"
        width="100%"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=320&amp;height=400&amp;hl=en&amp;q=Mansueto 1912&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
      ></iframe
      ><a href="https://capcuttemplate.org/">Capcut Template</a>
    </div>
    <style>
      .mapouter {
        position: relative;
        text-align: right;
        width: 100%;
        height: 400px;
      }
      .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 100%;
        height: 400px;
      }
      .gmap_iframe {
        height: 400px !important;
      }
    </style>
  </div>
  <p class="bp-text-3">Aguaribay S/n, X5149 Saldan</p>
</div>

<div class="bp-container">
  <div class="bp-row">
    <img class="icon" src="assets\\dress.png" />
    <h2 class="bp-title-1">DRESS CODE</h2>
    <img class="icon" src="assets\\groom-suit.png" />
  </div>

  <section class="carrousel bp-margin-top-16">
    <img src="assets/peaky blinders 1.jpeg" />
    <img src="assets/peaky blinders 2.jpeg" />
    <img src="assets/peaky blinders 3.jpeg" />
  </section>
  <p class="bp-text-1">Peaky Blinders</p>
</div>

<div class="bp-container bp-container-dark">
  <img class="icon" src="assets\\music-white.png" />
  <h2 class="bp-title-1">Canciones que no pueden faltar</h2>
  <p class="bp-text-1">
    Agrega esos temazos que necesitas escuchar si o si esa noche
  </p>
  <form [formGroup]="musicForm">
    <div class="row">
      <div class="bp-col-sm-4">
        <div class="group bp-margin-top-32">
          <input type="text" formControlName="nombre"/>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Cancion</label>
        </div>
      </div>
      <div class="bp-col-sm-4">
        <div class="group bp-margin-top-32">
          <input type="text" formControlName="autor"/>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Autor</label>
        </div>
      </div>
      <div class="bp-col-sm-4">
        <div class="group bp-margin-top-32">
          <input type="text" formControlName="link"/>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Link</label>
        </div>
      </div>

      <button
        class="bp-button-primary bp-margin-top-16"
        [disabled]="(loading$ | async) || musicForm.invalid"
        (click)="putMusica()"
      >
        <p *ngIf="!(loading$ | async)">Enviar</p>
        <div *ngIf="loading$ | async" class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </button>
    </div>
  </form>
</div>
<div class="bp-container maps-container bp-container-dark">
  <h1 class="bp-title-1">"La vida es una lenteja o la tomas o la dejas"</h1>
  <p class="bp-text-1">Sun tzu, El arte de la guerra.</p>
</div>
<div class="bp-container">
  <img class="icon" src="assets\\engagement-ring.png" />
  <h1 class="bp-title-1">Confirma tu asistencia</h1>
  <p class="bp-text-1">
    Confirmar asistencia hasta el 15 de Septiembre de 2023
  </p>
  <p class="bp-text-1">
    Si contas con alguna restricción alimentaria o necesitas un menú vegetariano
    o vegano podes aclararlo abajo
  </p>
  <div class="row">
    <form [formGroup]="asistenciaForm">
    <div class="bp-col-sm-4">
      <div class="container">
        <div class="radio-tile-group">
          <div class="input-container">
            <input id="walk" class="radio-button" type="radio" [value]="true" formControlName="asistencia"/>
            <div class="radio-tile">
              <label for="walk" class="radio-tile-label">Si</label>
            </div>
          </div>

          <div class="input-container">
            <input id="bike" class="radio-button" type="radio" [value]="false" formControlName="asistencia"/>
            <div class="radio-tile">
              <label for="bike" class="radio-tile-label">No</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bp-col-sm-4">
      <div class="group bp-margin-top-32">
        <textarea formControlName="detalle"></textarea>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Ingrese algún dato importante...</label>
      </div>
    </div>
    <div class="bp-col-sm-4">
      <div class="group bp-margin-top-32">
        <input type="text" formControlName="nombre"/>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Nombre completo</label>
      </div>
    </div>

    <button
      class="bp-button-primary bp-margin-top-16"
      [disabled]="(loading$ | async) || asistenciaForm.invalid"
      (click)="putAsistencia()"
    >
      <p *ngIf="!(loading$ | async)">Enviar</p>
      <div *ngIf="loading$ | async" class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </button>
  </form>
  </div>
</div>
