

<div class="logo-container">  </div>
<h1>VECINA!!!!!!</h1>

<p>Date cuenta vieja, el casorio del rodry y ani esta a la vuelta de la esquina😎</p>

<p class="musica"> MUSICA</p>
<p class="arte"> arte</p>
<p class="muchomas"> Imuchomas♥</p>




<p class="banco"> QUE ESPERAS PARA ANOTARTE??</p>
  <input placeholder="numero tarjeta"/>
  <input placeholder="CVV"/>
  <input placeholder="Fecha venciumiento"/>
<button (click)="clickiclaka()">Enviar</button>
<span>FUEGO DE LA PASION</span>
<div class="fogo-container">

  <div class="fogo" *ngFor="let fogo of fogos">
    <div class="red flame"></div>
    <div class="orange flame"></div>
    <div class="yellow flame"></div>
    <div class="white flame"></div>
    <div class="blue circle"></div>
    <div class="black circle"></div>
  </div>
</div>
<div>
  <img src="" alt="">
</div>
