:host{
    height: 100%;
    width: 100vw;
    display: flex;
    align-content: center;
    align-items: start;
    flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}
