:host{
    height: 100%;
    width: 100vw;
    background-image: url("..\\assets\\anirodri.jpg");
    display: flex;
    align-content: center;
    align-items: start;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

* {
    background-color: aqua;
    color: red;
    font-size: 36px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.arte {
    margin-top: 60px;
    font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #ff1f8f,
						20px 20px #000000;
}

.musica {
    color: #fcedd8;
    background: #d52e3f;
       font-family: 'Niconne', cursive;
    font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #c11a2b, 
              35px 35px 0px #c11a2b, 
              40px 40px 0px #c11a2b, 
              45px 45px 0px #c11a2b;
              text-align: center;
              font-family: "Helvetica";
              font-size:0.8rem;
}

.muchomas {
    transform: rotate(180deg);

}




$fireColor: rgb(255,80,0);
$fireColorT: rgba(255,80,0,0);
$dur: 1s;
$blur: 0.02em;
$fireRad: 3em;
$parts: 50;
$partSize: 5em;

.fogo{
	margin:80px auto;
	width: 60px;
	height: 60px;
	position:relative;
	transform-origin:center bottom;
	animation-name: flicker;
	animation-duration:3ms;
	animation-delay:200ms;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  }
  
  .flame{
	bottom:0;
	position:absolute;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	transform:rotate(-45deg) scale(1.5,1.5);
  }
  
  .yellow{
	left:15px; 
	width: 30px;
	height: 30px;
	background:gold;
	box-shadow: 0px 0px 9px 4px gold;
  }
  
  .orange{
	left:10px; 
	width: 40px;
	height: 40px;
	background:orange;
	box-shadow: 0px 0px 9px 4px orange;
  }
  
  .red{
	left:5px;
	width: 50px;
	height: 50px;
	background:OrangeRed;
	box-shadow: 0px 0px 5px 4px OrangeRed;
  }
  
  .white{
	left:15px; 
	bottom:-4px;
	width: 30px;
	height: 30px;
	background:white;
	box-shadow: 0px 0px 9px 4px white;
  }
  
  .circle{
	border-radius: 50%;
	position:absolute;  
  }
  
  .blue{
	width: 10px;
	height: 10px;
	left:25px;
	bottom:-25px; 
	background: SlateBlue;
	box-shadow: 0px 0px 15px 10px SlateBlue;
  }
  
  .black{
	width: 40px;
	height: 40px;
	left:10px;
	bottom:-60px;  
	background: black;
	box-shadow: 0px 0px 15px 10px black;
  }
  
  @keyframes flicker{
	0%   {transform: rotate(-1deg);}
	20%  {transform: rotate(1deg);}
	40%  {transform: rotate(-1deg);}
	60%  {transform: rotate(1deg) scaleY(1.04);}
	80%  {transform: rotate(-2deg) scaleY(0.92);}
	100% {transform: rotate(1deg);}
  }

  .fogo-container {
	background-color: unset;
	display: flex;
  }