/* Material */

@use '@angular/material' as mat;


.mat-checkbox-layout {
  white-space: normal !important;
}

mat-form-field {
  width: 100%;
}

$md-bayport-dark-palette: (
  50: var(--primary-dark),
  100: var(--primary-dark),
  200: var(--primary-dark),
  300: var(--primary-dark),
  400: var(--primary-dark),
  500: var(--primary-dark),
  600: var(--primary-dark),
  700: var(--primary-dark),
  800: var(--primary-dark),
  900: var(--primary-dark),
  A100: var(--primary-dark),
  A200: var(--primary-dark),
  A400: var(--primary-dark),
  A700: var(--primary-dark),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$md-bayport-light-palette: (
  50: var(--primary-blue),
  100: var(--primary-blue),
  200: var(--primary-blue),
  300: var(--primary-blue),
  400: var(--primary-blue),
  500: var(--primary-blue),
  600: var(--primary-blue),
  700: var(--primary-blue),
  800: var(--primary-blue),
  900: var(--primary-blue),
  A100: var(--primary-blue),
  A200: var(--primary-blue),
  A400: var(--primary-blue),
  A700: var(--primary-blue),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$bayport-app-primary-light-palette: mat.mat-palette($md-bayport-light-palette);
$bayport-app-primary-dark-palette: mat.mat-palette($md-bayport-dark-palette);

$bayport-app-light-theme: mat.mat-light-theme(
  $bayport-app-primary-light-palette,
  $bayport-app-primary-light-palette
);
$bayport-app-dark-theme: mat.mat-light-theme(
  $bayport-app-primary-dark-palette,
  $bayport-app-primary-dark-palette
);

@include mat.mat-checkbox-theme($bayport-app-light-theme);
@include mat.mat-radio-theme($bayport-app-light-theme);
@include mat.mat-slide-toggle-theme($bayport-app-light-theme);

@include mat.mat-progress-spinner-theme($bayport-app-dark-theme);

.mat-radio-label-content {
  white-space: normal !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 8px 0 0 0 !important;
}
